:root {
    --grid-cols: 5;
    --grid-rows: var(--grid-cols);
    --z-index: -10000px;
}

body {
    overflow: hidden;
}

#ship {
    position: absolute;
}

#startGameBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: #ff0000;
    cursor: pointer;
    text-align: center;
    z-index: 999;
}

#startGameBtn:hover {
    background: #aa2333;
    color: white;
}

#startGameBtn:active {
    background: #aa2333;
}

#playerBox {
    position: absolute;
    perspective: 1200px;
    z-index: 999;
}

#player {
    position: absolute;
    /* top: calc(50%); */
    top: calc(100vh/2);
    /* left: calc(50%); */
    left: calc(100vw/2);
    transform: translate(-50%, -50%, -200px);
    width: 40px;
    height: 40px;
    /* background: blue; */
    transform-style: preserve-3d;
    transform-origin: center;
}

.playerFace {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.playerFace-front {
    transform: rotateY(0deg) translateZ(20px);
    background-color: rgba(0, 0, 255, 1);
}
.playerFace-back {
    transform: rotateY(180deg) translateZ(20px);
    background-color:rgba(137, 43, 226, 1);
}
.playerFace-top {
    transform: rotateX(90deg) translateZ(20px);
    background-color: rgba(95, 158, 160, 1);
}
.playerFace-bottom {
    transform: rotateX(-90deg) translateZ(20px);
    background-color: rgba(220, 20, 60, 1);
}
.playerFace-left {
    transform: rotateY(-90deg) translateZ(20px);
    background-color: rgba(0, 100, 0, 1);
}
.playerFace-right {
    transform: rotateY(90deg) translateZ(20px);
    background-color: rgba(255, 140, 0, 1);
}

#grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 500px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-gap: 10px;
    transform-style: preserve-3d;
}
  
.block {
    width: 80px;
    height: 80px;
    padding: 0.25em;
    transform: translateZ(var(--z-index));
    transform-style: preserve-3d;
}

.blockFace {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.blockFace-front {
    transform: rotateY(0deg) translateZ(45px); 
    background-color: rgba(252, 8, 8, 1);
}
.blockFace-back {
    transform: rotateY(180deg) translateZ(45px);
    background-color: rgba(177, 253, 0, 1);
}
.blockFace-top {
    transform: rotateX(90deg) translateZ(45px);
    background-color: rgba(0, 253, 240, 1);
}
.blockFace-bottom {
    transform: rotateX(-90deg) translateZ(45px);
    background-color: rgba(160, 0, 253, 1);
}
.blockFace-left {
    transform: rotateY(-90deg) translateZ(45px);
    background-color: rgba(30, 253, 0, 1);
}
.blockFace-right {
    transform: rotateY(90deg) translateZ(45px);
    background-color: rgba(255, 0, 212, 1);
}

/* .item-1a, .item-2b, .item-3c, .item-4d, .item-5e {
    transform: translateZ(20px);
} */